.navigation{
    display: flex;
    align-items: center;
}
button{
    background-color: white;
    border: 0px;
}
#logo{
    margin: 10px;
}
#search-bar{
    margin-left: 25%;
}
#glass{
   
}
#glass-self{
    height: 80px;
}